button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
	display:inline-block;
	@include font-size(0.75);
	line-height: 1;
	padding: .5em 1.2em;
	border-style:solid;
	border-width: 1px;
	outline: none;
	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		//border-color: $color__border-button-focus;
	}
}

