input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	border-style:solid;
	border-width: 1px;
	padding: 0.5em;
	outline: none;
	margin:0 0 1rem 0;

	&:focus, &:active {
		border-width:1px;
	}
}

select {
	border-width: 1px !important; 
}

textarea {
	width: 100%;
}
