ul, ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}



ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin:0 0 1.5em 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

li.has-submenu {
	list-style:none;
}
li.has-submenu ol,
li.has-submenu ul {
	margin-bottom:0;
}