a {
	outline:0;
	text-decoration:none;
	&:hover,
	&:focus,
	&:active {
		outline:0;
	}
	//@include inline-block();
}

.site-header {
	a {
		text-decoration:none;
	}
}

a>img {
	@include inline-block();
}