#navhead {
	position:absolute;
	left:0;
	top:0;
	right:0;
	z-index:1000;
	padding:1.0% 2.0%;
}


.logo-container {
	a {
		@include inline-block();
	}
    @include inline-block();
	img {
		max-width:10rem;
		max-height:5rem;
		cursor:pointer;
	}
}


.main-navigation {
	position:relative;
	ul {
		list-style:none;
	}
	.menu {
		margin:0;
		padding:0;
	}
}

.menu-toggle {
	display:none;	
}

@import "nav-style-1";

