.main-navigation {
	position:relative;
	ul {
		list-style:none;
	}
	.menu {
		margin:0;
		padding:0;
	}
	font-weight:bold;
	#primary-menu {
		color:#fff;
		a {
			color:#fff;
		}
	}

}

.menu-toggle {
	display:none;	
}

@media (min-width:$mobile-break) {
	.nav-style-1 {
		text-transform:uppercase;
		&>[class*="menu-"] {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			text-align:center;
		}
		#primary-menu {
			margin-left:-1em;
			@include inline-block;
			li {
				@include inline-block();
				margin-left:1em;
				letter-spacing:1px;
			}

			
			position:absolute;
			top:50%;
			left:50%;
			@include transform(translate(-50%,-50%));
			
		}
	}
}