.skip {
	position:absolute;
	top:-1000000px;
	left:-1000000px;
}

@for $i from 1 through 30 {
	.max-#{500+$i*50} {
		max-width: 500+$i*50 + px;
	}
}

@for $i from 1 through 100 {
	.width-#{$i}-percent {
		width: $i + unquote('%') !important;
	}
}

@for $i from 0 through 20 {
	.mb-#{$i*5}px {
		margin-bottom: ($i*5) + px !important;
	}
}

.margin-auto {
	margin-left:auto;
	margin-right:auto;
}

.text-center {
	text-align:center;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.text-justify {
	text-align:justify;
}

//TODO: prestavi to nekam drugam
.panel-grid {
	position:relative;
}
//PAZI!!!!!!! Ne vem kaj to pomeni za celotno stran, preuči
.panel-grid-cell {
	margin:0 !important;
}

@include keyframes(spin-right) {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@include keyframes(spin-left) {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

.position-relative {
	position:relative;
}

.site-loader-icon.spin, .site-loader-icon.spin-right {
    @include transform-origin(50% 50%);
    @include animation(spin-right 700ms linear 0s infinite);
}

.site-loader-icon.spin-left {
    @include transform-origin(50% 50%);
    @include animation(spin-left 700ms linear 0s infinite);
}

.color-white {
	color:#fff;
}

.color-black {
	color:#000;
}

/*
 * Image Overlayi
 */

.zakaj-egret-image-container {
	position:relative;
	overflow:hidden;
}

.zakaj-egret-image-container .zakaj-egret-overlay-image-container {
	position:absolute;
	top:100%;
	left:0;
	right:0;
	bottom:-100%;
	color:#231f20;
	background-color:rgba(255,255,255,0.85);
	-webkit-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-ms-transition:all 0.4s ease 0s;
	transition:all 0.4s ease 0s;
	padding:1.5rem 2rem;
}

.zakaj-egret-image-container:hover .zakaj-egret-overlay-image-container {
	top:0;
	bottom:0;
}

.zakaj-egret-image-container .zakaj-egret-overlay-image-container p {
	font-size:0.875em !important;
}

.zakaj-egret-image-container .zakaj-egret-overlay-image-container h4 {
	font-size:1.7em !important;
	line-height:1.1 !important;
}

.zakaj-egret-image-container .zakaj-egret-overlay-image-container p,
.zakaj-egret-image-container .zakaj-egret-overlay-image-container h4 {
	text-shadow:none;
	color:#231f20 !important;
	margin:0;
}

/*
 * Konec image overlayi
 */

