

.top-headings {
	position:absolute;
	top:50%;
	left:10%;
	width:80%;
	@include transform(translate(0%,-50%));
	max-width:400px;
	text-align:center;
}

@media (min-width:$mobile-break) {
	.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-overlay {
		background-size:110%;
	}
	.sow-slider-base ul.sow-slider-images li.sow-slider-image.cycle-slide-active .sow-slider-image-overlay {
		@include transition(all 10s ease 0s);
	}

}